<h1>Portfolio Items</h1>

<a href="portifolios/new" >Create New Item</a>

<%= link_to "Create New Item", new_portifolio_url if logged_in?(:site_admin) %> #outra maneira de fazer

<p>
  <%= new_portifolio_path %>
</p>

<p>
  <%= new_portifolio_url %>
</p>

<%= render partial: 'portfolio_item', collection: @portfolio_items %>